<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Activer son compte {% endblock %}</title>
    <style>
      .p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: larger;
      }
      .titre {
        font-size: x-large;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
      }
      .container {
        margin: 25px;
        text-align: justify;
      }
      .btn {
        text-decoration: underline;
      }
      .btn:hover {
        text-decoration: underline;
        color: blue;
      }
      .servicestodar {
        font-weight: bold;
        text-transform: capitalize;
      }
    </style>
  </head>
  <body>
    {% block body %}
    <div class="container">
      <h1 class="titre">Bonjour {{ username }} !</h1>
      <p class="p">
        Merci, d'être inscrit dans notre site, veuillez cliquer sur ce
        <a
          href="{{
            absolute_url(path('app_account_activation', { token: token }))
          }}"
          class="btn btn-link"
          >lien</a
        >
        pour activer votre compte.
      </p>
      <p class="p">
        Cordialement <span class="servicestodar">ServicesToDar</span>
      </p>
    </div>

    {% endblock %}
  </body>
</html>
