<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: larger;
      }
      .titre {
        font-size: x-large;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
      }
      .container {
        margin: 25px;
        text-align: justify;
      }
      .btn {
        text-decoration: underline;
      }
      .btn:hover {
        text-decoration: underline;
        color: blue;
      }
      .servicestodar {
        font-weight: bold;
        text-transform: capitalize;
      }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="titre">
            Bonjour {{username}}
        </h1>
        <p class="p">
            Nous vous informons que votre compte a été bloqué par l'administrateur le <span class="servicestodar">{{dateBlockage|date('d/m/y')}}</span>.
        </p>
        <p class="p" style="color: red;">Vous ne pouvez plus vous  connecter à votre compte !</p>
        <p class="p">
            Pour plus d'informations vous pouvez nous contacter par mail <span class="servicestodar">{{email}}</span>.
        </p>
        <p class="p">Cordialement <span class="servicestodar">ServicesToDar</span></p>
    </div>
</body>
</html>